.flexbox{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .marque{
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-between;

        .marque-items{
        padding: 5px;
        border: solid 1px grey;
        border-radius: 3px;
    }
    }

}

/* ------------------------ Flexbox recherche --------------------------------*/

.flexbox_recherche{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .flexbox_recherche-liste{
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-between;
    }

    .flexbox_recherche-items{
        padding: 2px;
        border: solid 1px rgb(122, 122, 122);
        border-radius: 3px;

        p{
            color: grey;
            font-size: 12px;
        }
    }
}